<section id="home" class="h-screen flex flex-col justify-center items-center text-center px-4">
    <div id="hero-text" class="opacity-0 translate-y-10">
        <span
            class="text-sm font-semibold tracking-widest text-blue-600 dark:text-blue-400 uppercase bg-blue-50/80 dark:bg-blue-950/40 px-3 py-1 rounded-full border border-blue-200/30 dark:border-blue-800/30">Welcome
            to my space</span>
        <h1 class="text-5xl md:text-7xl font-extrabold mt-4 mb-4 tracking-tight">
            Hello, mình là <br class="md:hidden"> <span class="text-blue-600 dark:text-blue-400">Vãng</span>
        </h1>
        <p class="text-xl md:text-2xl text-slate-600 dark:text-slate-400 font-medium h-8">
            Mình là một <span id="typing" class="text-slate-900 dark:text-white font-bold"></span><span
                class="cursor">&nbsp;</span>
        </p>
        <div class="mt-8">
            <a href="#projects"
                class="bg-blue-600 text-white px-8 py-3.5 rounded-full font-medium hover:bg-blue-700 transition shadow-lg shadow-blue-500/20 active:scale-95 inline-block dark:bg-blue-500 dark:hover:bg-blue-600">
                Xem sản phẩm của mình
            </a>
        </div>
    </div>
</section>